.header img {
    width: 100vw;
    height: 20vh;
    object-fit: cover;
}

.section-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    width: 100vw;
}

.section-main p {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(195, 195, 195);
}

.section-main p:hover {
    color: black;
}

.section-main p:last-child {
    padding: 1rem;
    background-color: lightblue;
    color: white;
    font-size: 1rem;
}

.section-wrapper {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    width: 100vw;
    align-items: self-start;
    margin-top: 5rem;
}

.section-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-left-wrapper p:first-child {

}

.section-left img {

}

