ul {
  width: 80vw;
}

.button-box {
  text-align: right;
}

.delete-button {
  width: 100px;
  height: 60px;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  background-color: #c70000;
  cursor: pointer;
  border: none;
}

.delete-button:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 13px 100px 0 rgba(0, 0, 0, 0.1);
}
