.CartItem {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}

.CartItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

