.CartItem {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    position: relative;
}

.CartItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.CartItemCheck {
    width: 25px;
    position: absolute;
    top: 5px;
    right: 20px;
}